ul.tx3-tag-cloud
{
	padding: 0px;
	margin: 0px;
}

ul.tx3-tag-cloud li
{
	display: inline-block;
	list-style: none;
	margin-right: 4px;
}

ul.tx3-tag-cloud li a
{
	color: #c9c9c9;
}

ul.tx3-tag-cloud li a:hover
{
	color: #000000;
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

